<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>197338593115-ukv3o694k1uoq70f45rdosefkqlcspn3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.197338593115-ukv3o694k1uoq70f45rdosefkqlcspn3</string>
	<key>API_KEY</key>
	<string>AIzaSyBNeAo1vp1qfzKdO4WOPzALwVEO6eGVj9Q</string>
	<key>GCM_SENDER_ID</key>
	<string>197338593115</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.anlikfonapp</string>
	<key>PROJECT_ID</key>
	<string>anlikfon-a060e</string>
	<key>STORAGE_BUCKET</key>
	<string>anlikfon-a060e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:197338593115:ios:3cfd479d2b9b432bb6cc7e</string>
</dict>
</plist>